body {
    --bg-color : #DBCCB2;
    background-color: var(--bg-color);
    overflow-x: hidden;
}

#header {
    position: fixed;
    left: 0;
    top: 0;
    width: 50px;
    height: calc(100vh - 40px);
    background-color: transparent;
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-direction: column;
    margin: 20px 0;
    border-right: 3px solid #000;
    backdrop-filter: blur(20px);
    z-index: 10000;
}
#header::after {
    content: '';
    width: 1px;
    height: 100%;
    background-color: #000;
    position: absolute;
    right: -7px;
    top: 0;
}
#header h1 {
    writing-mode: vertical-lr;
    transform: rotate(180deg);
    font-size: 30px;
    text-transform: uppercase;
    font-family: 'PPRightSans-TightMedium';
}
#header span {
    writing-mode: vertical-lr;
    transform: rotate(180deg);
    font-size: 30px;
    text-transform: uppercase;
    font-family: 'PPRightSans-TightMedium';
}
#canvas {
    position: absolute;
    left: 0; 
    top: 0;
    width: 100%;
    height: 100%;
    z-index: 100;
}

#contents {
    display: flex;
    flex-wrap: nowrap;
    width: 700%; 
    /* 전체크기 */
    height: 100vh;
}
#contents > section {
    color: #fff;
    /* font-size: 4vw; */
}
/* section1 start */
#section1 {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}
#section1 .text-wrap {
    font-size: 18vh;
    line-height: 0.89;
    font-family: 'PPRightSans-TightMedium';
    color: #000;
    text-align: center;
}
#section1 div > span {
    position: relative;
  }
  #section1 div > span:hover::before {
    opacity: 1;
  }
  #section1 div > span::before {
    content: "";
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 0;
    height: 1.12vw;
    background-color: black;
    opacity: 0;
    transition: width 0.3s ease;
  }
  #section1 div > span:hover::before {
    width: 100%;
    opacity: 1;
  }
  #section1 div > span::after {
    content: "";
    position: absolute;
    width: 50%;
    padding-top: 50%;
    background-image: url("./img/sec1-1.png");
    background-size: cover;
    opacity: 1;
    transition: transform 0.3s ease, opacity 0.3s ease;
  }
  /* #section1 div > span:nth-child(1):after {
    background-image: url("./img/profile-1.png");
  } */
  #section1 div > .ti1::after{
    top: 50%;
    left: 150%;
    transform: translate(-50%, -50%) scale(0);
  }
  #section1 div > .ti3::after {
    top: 50%;
    left: 200%;
    transform: translate(-50%, -50%) scale(0);

  }
  #section1 div > .ti2::after {
    top: 100%;
    left: -50%;
    transform: translate(-50%, -50%) scale(0);
  }
  #section1 div > .ti4::after {
    top: 50%;
    left: -50%;
    transform: translate(-50%, -50%) scale(0);
  }
  #section1 div > .ti5::after {
    top: 10%;
    left: 170%;
    transform: translate(-50%, -50%) scale(0);
  }
  #section1 div > span:hover::after {
    transform: translate(-50%, -50%) scale(1.5);
    opacity: 1;
  }
/* section1 end */
/* section2 start */
#section2 {
    position: relative;
    width: 100%;
    height: 100vh;
    display: flex;
    flex-wrap: wrap;
  }
  #section2 .myInfo {
    width: 100%;
    height: 120vh;
    display: flex;
    color: #000 !important;

  }
  #section2 .myInfo .img {
    margin-left: 25vh;
    width: 100vh; /* 이미지의 너비를 부모 요소에 맞게 설정합니다 */
    height: 90% !important;
    background-image: url("./img/profile-1.png");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
  }
  #section2 .myInfo .desc {
    width: 100%
  }
  #section2 .myInfo .desc .eng {
    margin-left: 5vw;
    margin-top: 9vh;
  }
  
  #section2 .myInfo .desc .eng h2 {
    margin-bottom: 3.3vh;
    font-family: "PPRightSans-TightMedium";
    font-style: normal;
    font-weight: 500;
    font-size: 80px;
    line-height: 1;
    text-align: left;
  }
  #section2 .myInfo .desc .eng span {
    /* display: inline-block; */
    margin-left: 2vw;
    font-family: "PPRightSans-TightMedium";
    font-style: normal;
    font-weight: 500;
    font-size: 3.1vw;
    text-align: left;
    line-height: 1;
  }
  #section2 .myInfo .desc .kor {
    margin-left: 8vw;
    margin-top: 9vh;
    font-size: 1.6vh;
  }
  #section2 .myInfo .desc .kor span {
    font-family: "NexonLv1Gothic";
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 1.35vw;
    text-align: left;
    text-align: justify;
    color: #000000;
  }
/* sction2 end */
#section3 {
    width: 100%;
}
#section4 {
    width: 100%;
}
#section5 {
    width: 100%;
}
#section6 {
    width: 100%;
}
#section7 {
    width: 100%;
}

.section-title {
    position: relative;
    /* overflow: hidden; */
    height: 100vh;
    background-color: #000;
    position: absolute;
    right: 0;
    top: 0;
    font-size: 16px;
    white-space: nowrap;
    writing-mode:vertical-rl;
    padding: 10px;
    font-family: 'PPRightSans-Medium';
    text-transform: uppercase;
}
.section-title span {
    transform: translate(0, -40%);
    display: inline-block;
}


.section-title .circle {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%) rotate(-90deg);
    border-radius: 50%;
    text-align: center;
    line-height: 15vw;
    font-size: 2.5vw;
    width: 15vw;
    height: 15vw;
    background-color: #000;
    z-index: 100;
}
.section-title .circle::after {
    content: '';
    width: 15.6vw;
    height: 15.6vw;
    background-color: transparent;
    /* backdrop-filter: blur(20px); */
    border: 1px solid #000;
    position: absolute; 
    left: -0.3vw;
    top: -0.3vw;
    border-radius: 50%;
    z-index: -1;
    
}
.section-title .circle .circle__desc{
    position: absolute;  
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    line-height: 3vw;
  
}
.section-title::before {
    content: '';
    width: 1px;
    height: 100vh;
    background-color: #000;
    position: absolute;
    left: -3px;
    top: 0;
}
.section-title::after {
    content: '';
    width: 1px;
    height: 100vh;
    background-color: #000;
    position: absolute;
    right: -3px;
    top: 0;
}